* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

/* CARD CONTAINER */
.card {
  width: 320px;
  height: 420px;
  perspective: 1200px;
}

/* CARD */
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  cursor: pointer;
}

/* FLIP */
.card-inner.flipped {
  transform: rotateY(180deg);
}

/* FRONT + BACK */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  color: white;
  box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

/* FRONT */
.card-front {
  background: linear-gradient(135deg, #ff4d6d, #ff8fab);
}

/* BACK */
.card-back {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transform: rotateY(180deg);
}

/* TEXT */
h1, h2 {
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
}

.signature {
  margin-top: 20px;
  font-weight: bold;
}
.hidden-pic {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 4px solid white;
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.6s ease;
}

.hidden-pic.show {
  opacity: 1;
  transform: scale(1);
}
